<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<!-- All application settings HERE-->
	<!--<appSettings> 
	</appSettings>-->
	<!-- All application settings HERE-->

	<configSections>
    </configSections>
    <connectionStrings>
        <add name="DVLD_System.Properties.Settings.DVLDConnectionString"
            connectionString="Data Source=.;Initial Catalog=DVLD;Persist Security Info=True;User ID=sa;Password=123456;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>